<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<style>
  datalist {
    display: none;
  }
</style>

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="login">
    <h1>Salary Prediction</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <!--TODO create dropdown menu for categorical vaiables -->
    <form action="{{ url_for('predict')}}" method="post">

      <label>Age:</label>
      <input list="age" name="Age" placeholder="age" required="required" />
      <datalist id="age">
        <option value="17"></option>
        <option value="18"></option>
        <option value="19"></option>
        <option value="20"></option>
        <option value="21"></option>
        <option value="22"></option>
        <option value="23"></option>
        <option value="24"></option>
        <option value="25"></option>
        <option value="26"></option>
        <option value="27"></option>
        <option value="28"></option>
        <option value="29"></option>
        <option value="30"></option>
        <option value="31"></option>
        <option value="32"></option>
        <option value="33"></option>
        <option value="34"></option>
        <option value="35"></option>
        <option value="36"></option>
        <option value="37"></option>
        <option value="38"></option>
        <option value="39"></option>
        <option value="40"></option>
        <option value="41"></option>
        <option value="42"></option>
        <option value="43"></option>
        <option value="44"></option>
        <option value="45"></option>
        <option value="46"></option>
        <option value="47"></option>
        <option value="48"></option>
        <option value="49"></option>
        <option value="50"></option>
        <option value="51"></option>
        <option value="52"></option>
        <option value="53"></option>
        <option value="54"></option>
        <option value="55"></option>
        <option value="56"></option>
        <option value="57"></option>
        <option value="58"></option>
        <option value="59"></option>
        <option value="60"></option>
        <option value="61"></option>
        <option value="62"></option>
        <option value="63"></option>
        <option value="64"></option>
        <option value="65"></option>
        <option value="66"></option>
        <option value="67"></option>
        <option value="68"></option>
        <option value="69"></option>
        <option value="70"></option>
        <option value="71"></option>
        <option value="72"></option>
        <option value="73"></option>
        <option value="74"></option>
        <option value="75"></option>
        <option value="76"></option>
        <option value="77"></option>
        <option value="78"></option>
        <option value="79"></option>
        <option value="80"></option>
        <option value="81"></option>
        <option value="82"></option>
        <option value="83"></option>
        <option value="84"></option>
        <option value="85"></option>
        <option value="86"></option>
        <option value="87"></option>
        <option value="88"></option>
        <option value="89"></option>
        <option value="90"></option>
      </datalist>
      <br>

      <label>Work class:</label>
      <input list="workclass" name="Work Class" required="required" />
      <datalist id="workclass">
        <!-- 0: ' Federal-gov', 1: ' Local-gov', 2: ' Private', 3: ' Self-emp-inc', 4: ' Self-emp-not-inc', 5: ' State-gov', 6: ' Without-pay' -->
        <option value="0">Federal-gov</option>
        <option value="1">Local-gov</option>
        <option value="2">Private</option>
        <option value="3">Self-emp-inc</option>
        <option value="4">Self-emp-not-inc</option>
        <option value="5">State-gov</option>
        <option value="6">Without-pay</option>
      </datalist>
      <br>

      <label>fnlwgt:</label>
      <input type="text" name="fnlwgt" placeholder="fnlwgt" required="required" />
      <br>

      <label for="cars">Education Level:</label>
      <input list="education" type="text" name="Education Level" placeholder="education" required="required" />

      <datalist id="education">
        <!-- {0: ' 10th', 1: ' 11th', 2: ' 12th', 3: ' 1st-4th', 4: ' 5th-6th', 5: ' 7th-8th', 6: ' 9th', 7: ' Assoc-acdm', 8: ' Assoc-voc', 9: ' Bachelors', 10: ' Doctorate', 11: ' HS-grad', 12: ' Masters', 13: ' Preschool', 14: ' Prof-school', 15: ' Some-college'} -->
        <option value="0">10th</option>
        <option value="1">11th</option>
        <option value="2">12th</option>
        <option value="3">1st-4th</option>
        <option value="4">5th-6th</option>
        <option value="5">7th-8th</option>
        <option value="6">9th</option>
        <option value="7">Assoc-acdm</option>
        <option value="8">Assoc-voc</option>
        <option value="9">Bachelors</option>
        <option value="10">Doctorate</option>
        <option value="11">HS-grad</option>
        <option value="12">Masters</option>
        <option value="13">Preschool</option>
        <option value="14">Prof-school</option>
        <option value="15">Some-college</option>

      </datalist>
      <br>

      <label for="cars">Years of Education:</label>
      <input list="education_num" name="Years of Education" placeholder="education_num" required="required" />
      <datalist id="education_num">
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
        <option value="6"></option>
        <option value="7"></option>
        <option value="8"></option>
        <option value="9"></option>
        <option value="10"></option>
        <option value="11"></option>
        <option value="12"></option>
        <option value="13"></option>
        <option value="14"></option>
        <option value="15"></option>
        <option value="16"></option>
      </datalist>
      <br>

      <label for="marital-status">Marital Status:</label>
      <input type="text" name="Marital Status" list="marital-status" required="required" />
      <datalist id="marital-status">
        <!-- {0: ' Divorced', 1: ' Married-AF-spouse', 2: ' Married-civ-spouse', 3: ' Married-spouse-absent', 4: ' Never-married', 5: ' Separated', 6: ' Widowed'} -->
        <option value="0">Divorced</option>
        <option value="1">Married-AF-spouse</option>
        <option value="2">Married-civ-spouse</option>
        <option value="3">Married-spouse-absent</option>
        <option value="4">Never-married</option>
        <option value="5">Separated</option>
        <option value="6">Widowed</option>
      </datalist>
      <br>

      <label for="occupation">Occupation:</label>
      <input list="occupation" name="Occupation" placeholder="occupation" required="required" />
      <datalist id="occupation">
        <!-- {0: ' Adm-clerical', 1: ' Armed-Forces', 2: ' Craft-repair', 3: ' Exec-managerial', 4: ' Farming-fishing', 5: ' Handlers-cleaners', 6: ' Machine-op-inspct', 7: ' Other-service', 8: ' Priv-house-serv', 9: ' Prof-specialty', 10: ' Protective-serv', 11: ' Sales', 12: ' Tech-support', 13: ' Transport-moving'} -->
        <option value="0">Adm-clerical</option>
        <option value="1">Armed-Forces</option>
        <option value="2">Craft-repair</option>
        <option value="3">Exec-managerial</option>
        <option value="4">Farming-fishing</option>
        <option value="5">Handlers-cleaners</option>
        <option value="6">Machine-op-inspct</option>
        <option value="7">Other-service</option>
        <option value="8">Priv-house-serv</option>
        <option value="9">Prof-specialty</option>
        <option value="10">Protective-serv</option>
        <option value="11">Sales</option>
        <option value="12">Tech-support</option>
        <option value="13">Transport-moving</option>
      </datalist>
      <br>

      <label for="relationship">Relationship:</label>
      <input list="relationship" name="Relationship" placeholder="relationship" required="required" />
      <datalist id="relationship">
        <!-- {0: ' Husband', 1: ' Not-in-family', 2: ' Other-relative', 3: ' Own-child', 4: ' Unmarried', 5: ' Wife'} -->
        <option value="0">Husband</option>
        <option value="1">Not-in-family</option>
        <option value="2">Other-relative</option>
        <option value="3">Own-child</option>
        <option value="4">Unmarried</option>
        <option value="5">Wife</option>
      </datalist>
      <br>

      <label for="race">Race:</label>
      <input list="race" name="Race" placeholder="race" required="required" />
      <datalist id="race">
        <!-- {0: ' Amer-Indian-Eskimo', 1: ' Asian-Pac-Islander', 2: ' Black', 3: ' Other', 4: ' White'} -->
        <option value="0">Amer-Indian-Eskimo</option>
        <option value="1">Asian-Pac-Islander</option>
        <option value="2">Black</option>
        <option value="3">Other</option>
        <option value="4">White</option>
      </datalist>
      <br>

      <label for="sex">Sex:</label>
      <input list="sex" name="Sex" placeholder="sex" required="required" />
      <datalist id="sex">
        <!-- {0: ' Female', 1: ' Male'} -->
        <option value="0">Female</option>
        <option value="1">Male</option>
      </datalist>
      <br>

      <label for="capital-gain">Capital Gain:</label>
      <input type="text" name="Capital Gain" placeholder="capital-gain" required="required" />
      <br>

      <label for="capital-loss">Capital Loss:</label>
      <input type="text" name="Capital Loss" placeholder="capital-loss" required="required" />
      <br>

      <label for="hours-per-week">Hours per Week of Work:</label>
      <input list="hours-per-week" name="Hours per Week" placeholder="hours-per-week" required="required" />
      <datalist id="hours-per-week">
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
        <option value="6"></option>
        <option value="7"></option>
        <option value="8"></option>
        <option value="9"></option>
        <option value="10"></option>
        <option value="11"></option>
        <option value="12"></option>
        <option value="13"></option>
        <option value="14"></option>
        <option value="15"></option>
        <option value="16"></option>
        <option value="17"></option>
        <option value="18"></option>
        <option value="19"></option>
        <option value="20"></option>
        <option value="21"></option>
        <option value="22"></option>
        <option value="23"></option>
        <option value="24"></option>
        <option value="25"></option>
        <option value="26"></option>
        <option value="27"></option>
        <option value="28"></option>
        <option value="29"></option>
        <option value="30"></option>
        <option value="31"></option>
        <option value="32"></option>
        <option value="33"></option>
        <option value="34"></option>
        <option value="35"></option>
        <option value="36"></option>
        <option value="37"></option>
        <option value="38"></option>
        <option value="39"></option>
        <option value="40"></option>
        <option value="41"></option>
        <option value="42"></option>
        <option value="43"></option>
        <option value="44"></option>
        <option value="45"></option>
        <option value="46"></option>
        <option value="47"></option>
        <option value="48"></option>
        <option value="49"></option>
        <option value="50"></option>
        <option value="51"></option>
        <option value="52"></option>
        <option value="53"></option>
        <option value="54"></option>
        <option value="55"></option>
        <option value="56"></option>
        <option value="57"></option>
        <option value="58"></option>
        <option value="59"></option>
        <option value="60"></option>
        <option value="61"></option>
        <option value="62"></option>
        <option value="63"></option>
        <option value="64"></option>
        <option value="65"></option>
        <option value="66"></option>
        <option value="67"></option>
        <option value="68"></option>
        <option value="69"></option>
        <option value="70"></option>
        <option value="71"></option>
        <option value="72"></option>
        <option value="73"></option>
        <option value="74"></option>
        <option value="75"></option>
        <option value="76"></option>
        <option value="77"></option>
        <option value="78"></option>
        <option value="79"></option>
        <option value="80"></option>
        <option value="81"></option>
        <option value="82"></option>
        <option value="83"></option>
        <option value="84"></option>
        <option value="85"></option>
        <option value="86"></option>
        <option value="87"></option>
        <option value="88"></option>
        <option value="89"></option>
        <option value="90"></option>
        <option value="91"></option>
        <option value="92"></option>
        <option value="93"></option>
        <option value="94"></option>
        <option value="95"></option>
        <option value="96"></option>
        <option value="97"></option>
        <option value="98"></option>
        <option value="99"></option>
      </datalist>

      <br>

      <label for="race">Native Country:</label>
      <input list="native-country" name="Native Country" placeholder="native-country" required="required" />
      <datalist id="native-country">
        <option value="0"> Cambodia</option>
        <option value="1"> Canada</option>
        <option value="2"> China</option>
        <option value="3"> Columbia</option>
        <option value="4"> Cuba</option>
        <option value="5"> Dominican-Republic</option>
        <option value="6"> Ecuador</option>
        <option value="7"> El-Salvador</option>
        <option value="8"> England</option>
        <option value="9"> France</option>
        <option value="10"> Germany</option>
        <option value="11"> Greece</option>
        <option value="12"> Guatemala</option>
        <option value="13"> Haiti</option>
        <option value="14"> Holand-Netherlands</option>
        <option value="15"> Honduras</option>
        <option value="16"> Hong</option>
        <option value="17"> Hungary</option>
        <option value="18"> India</option>
        <option value="19"> Iran</option>
        <option value="20"> Ireland</option>
        <option value="21"> Italy</option>
        <option value="22"> Jamaica</option>
        <option value="23"> Japan</option>
        <option value="24"> Laos</option>
        <option value="25"> Mexico</option>
        <option value="26"> Nicaragua</option>
        <option value="27"> Outlying-US(Guam-USVI-etc)</option>
        <option value="28"> Peru</option>
        <option value="29"> Philippines</option>
        <option value="30"> Poland</option>
        <option value="31"> Portugal</option>
        <option value="32"> Puerto-Rico</option>
        <option value="33"> Scotland</option>
        <option value="34"> South</option>
        <option value="35"> Taiwan</option>
        <option value="36"> Thailand</option>
        <option value="37"> Trinadad&Tobago</option>
        <option value="38"> United-States</option>
        <option value="39"> Vietnam</option>
        <option value="40"> Yugoslavia</option>
      </datalist>

      <br>
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}

  </div>

</body>

</html>